# Tor
stem==1.8.2
PySocks==1.7.1

# HTTP
requests==2.33.1
requests[socks]==2.33.1
requests-file==3.0.1
certifi==2026.2.25

# Scraping
beautifulsoup4==4.14.3
lxml==6.0.2
Scrapy==2.14.2
selenium==4.41.0
playwright==1.58.0

# Data
pandas==3.0.2

# Utilities
Faker==40.13.0
PyYAML==6.0.3
python-Levenshtein==0.27.1
langdetect==1.0.9
python-dotenv==1.2.2
python-dateutil==2.9.0
schedule==1.2.2
chardet==5.2.0

# Database
SQLAlchemy==2.0.49
psycopg2-binary==2.9.11
